* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.front-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
  font-size: 45px;
}

.color-orange {
  color: #FD6E0A;
  font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    
}

header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png") , #FFF8F3;
  background-repeat: no-repeat;
  background-position: top left,  bottom right;
  padding-top: 50px;

}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#banner .banner-text{
    max-width: 585px;
}
#banner .banner-text h2{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
   
}
#banner .banner-text p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}