* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.front-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
  font-size: 45px;
}

.color-orange {
  color: #FD6E0A;
  font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    margin: 20px;
    
}
.btn:hover {
    background-color: #120e0b;
    
}
.btn1{
    background-color: transparent;
    color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FD6E0A;
    border-radius: 5%;
}
.btn1:hover {
    background-color: #FD6E0A;
    color: rgb(255, 255, 255);
    
}
.text-center {
    text-align: center;
}

.section-heading{
    text-align: center;
    max-width: 827px;
    margin: 0px auto ;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;

}

.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 30px;
}

header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png") , #FFF8F3;
  background-repeat: no-repeat;
  background-position: 23px 20px, bottom right;
  padding-top: 50px;


}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#banner .banner-text{
    max-width: 585px;
}
#banner .banner-text h2{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
   
}
#banner .banner-text p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}
#about{
   padding-top: 130px;
}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px ;
}   
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
   font-size: 20px;
   color: #111818;
   font-weight: bold;
   line-height: 0px;
}
.about-info .info-card h4{
   font-size: 16px;
   line-height: 0.0px;
}

#skills, #resume{
    padding-top: 130px;
}
.skills-content{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;

}
.skills-content .section-heading p{
    font-weight: 500;
}
.skills-content .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    background-color: #fdfbf9;
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #11181893;
    border-radius: 5%;
    text-align: center;
    border: none;
}
.skills-card img{
    max-width: 44px;                
    margin-bottom: 30px;

}
.skills-card h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #181818;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-content{
    display: flex;
    width: 71%;
    max-width: 1140px;
    gap: 24px;
    margin: 113px auto 0;
}
.resume-content hr{
    margin: 30px 0;
}
.resume-content .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;

}
.resume-card{
    margin-right: 47px;
    max-width: 511px;
}
.resume-card .card-title{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}
.card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
footer{
    background-color: #FFF8F3;
    padding: 130px 0;
    margin-top: 130px;
    
}
footer .footer-content{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    gap: 116px;
}
.footer-content .social{
    max-width: 562px;
}
.footer-content .social h2{
    font-size: 35px;
    color: #111818;
    line-height: 30px;
    margin-bottom: 20px;
}
.footer-content .social p{
    font-size: 18px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-content .icons a{
    margin-right: 24px;
}
.footer-content form input[type="text"],[type="email"],textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5%;
    color: #757575;
}
form h2{
    font-size: 25px;
    color: #111818;
    margin-bottom: 20px;
}
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


@media screen and (max-width: 992px) and (max-width: 577px) {
    nav {
        width: 100%;
        padding: 0 20px;
        justify-content: center;

    }
    header {
    padding-top: 20px;
    background-position: left top, bottom right;
  }
    .logo{
        width: 100%;
        padding: 20px 0;
    }
    .logo h2 {
        font-size: 28px;
        font-weight: bold;
        padding-left: 30px;
        padding-bottom: 100px;
    }
    .menu {
        width: 100%;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn:hover {
    background-color: #120e0b;
    
    }
    .btn1:hover {
    background-color: #120e0b;
    
    } 

    #banner {
        margin: 40px 20px;
        flex-direction: column;
        text-align: center;
    }

    #banner .banner-image img {
        width: 100%;
        margin-top: 30px;
    } 

    #about .about-content {
        width: 90%;
        padding: 80px 40px;
    }

    .about-info {
        flex-wrap: wrap;
        gap: 20px;
    }

    .skills-content {
        width: 100%;
    }

    .skills-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    #resume .resume-content {
        width: 90%;
        flex-direction: column;
    }

    footer .footer-content {
        width: 90%;
        flex-direction: column;
        gap: 60px;
    }

    footer .footer-content form input[type="text"],
    footer .footer-content form input[type="email"],
    footer .footer-content form textarea {
        width: 100%;
    }
}
